nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}

nav ul {
  float: right;
}

.recipe {
  letter-spacing: .1em;
  font-family: 'Patrick Hand', cursive;
  color: #666a42;
  background-image: url("img/list-bg.png");
  height: 260px;
  padding: 37px 0 0 60px;
  margin: 40px 0;
}

aside {
  padding-top: 30px;
  padding-bottom: 60px
}